.product-item {
  min-height: 100vh;
  background-color: skyblue;
  min-width: 100vw;
}
.product-item-container {
  height: 100vh;
}
.product-item-img {
  /* height: 45vh;
  aspect-ratio: 1/1;
  width: 100%; */
  height: 45vh;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .product-item-img {
    height: 90vh;
  }
}

.quantity-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

